/* Style in nav bar */
nav{
    background-color    : rgba(0, 38, 255, 0.5);
    display             : flex;
    flex-direction      : row;
    margin-bottom       : 20px;
}

.logo{
    margin-left         : 20px;
}

.logo img{
    
    height              : 80px;
}

.nav-links{
    margin              : auto;
}
.nav-links a{
    text-decoration     : none;
    color               : rgb(230, 230, 230);
    margin-right        : 30px;
    font-size           : 24px;
}
.nav-links a:hover{
    color               : blue;
}

/* styled heading of this webpage */
.heading{
    text-align          : center;
    padding: 5px;
    background-color    : rgba(82, 82, 253, 0.842);
    margin              : auto;
    width               : 85%;
    border-radius       : 5px;
    color               : rgb(31, 1, 139);
}
