/* styled scientists contianer */
#container{
    margin-top: 20px;
}
.container{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}
.sci-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}