/* styled every single scientist */

.single-sci{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: rgba(124, 143, 252, 0.9);
    
}
div img{
        border-radius: 100px;
}
.single-sci p{
    color: black;
    padding: 2px;
    margin: 2px;
    font-size: 18px;
    font-weight: 500;
}

.sci-info button{
    padding: 4px 10px;
    border: 2px solid rgb(0, 0, 134);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(159, 171, 236);
    background-color: rgb(6, 6, 126);
    outline: none;
    cursor: pointer;
}

.sci-info button:hover{
    background: rgba(116, 115, 115, 0);
    color: darkblue;
}

.icon{
    margin-top: 16px;
}
.icon span{
    font-size: 40px;
    color: darkblue;
    cursor: pointer;
}

.icon span:hover{
    color: rgb(2, 65, 184);
}